@import '../../variables';
@import '../../mixins';

.excel__table {
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  left: 0;
  right: 0;
  overflow-x: auto;
  overflow-y: scroll;
  padding-bottom: 2px;
  z-index: -1;
  // display: flex;
  // flex-direction: column;

  & .row {
    display: flex;
    min-height: 20px;
    height: $row-height;
  }

  & .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: none;
    background-color: #f8f9fa;
    position: relative;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }

  & .row-data {
    display: flex;
  }

  & .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
    position: relative;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }

  & .column-resize,
  .row-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $blue-color;
    opacity: 0;
    z-index: 1000;

    &:hover {
      opacity: 1 !important;
    }
  }

  & .column-resize {
    top: 0;
    width: 4px;

    &:hover {
      cursor: col-resize;
    }
  }

  & .row-resize {
    left: 0;
    height: 4px;

    &:hover {
      cursor: row-resize;
    }
  }

  & .cell {
    min-width: 40px;
    width: $cell-width;
    padding: 5px;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    color: #111;

    &.selected {
      border: none;
      outline: 2px solid $blue-color;
      z-index: 2;
    }
  }
}
